<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://root:2NdAa8Mu5jDNyqzCq1wt5W8bD2be1fpI@dpg-cq18bvtds78s73djil8g-a/renderdb_rwwf</property>
		<property name="connection.username">root</property>
		<property name="connection.password">2NdAa8Mu5jDNyqzCq1wt5W8bD2be1fpI</property>
		
		<mapping class="pti.sb_render_mvc.model.User" />
	</session-factory>
</hibernate-configuration>